body {
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: #2b283a;
    margin: 0;
}

header {
    background: #5f29a3;
    padding: 45px 0;
}

h1 {
    color: whitesmoke;
    font-size: 2.25rem;
    margin: 0;
}

h3 {
    color: #d0aaff;
    font-size: 1.25rem;
    margin: 0;
}

section {
    padding: 45px 0;
}

.sneakers-image {
    width: 100%;
}
