body {
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: #2b283a;
    margin: 0;
}

/* Typography */

h1, h3 {
    margin: 0;
}

h1 {
    color: whitesmoke;
    font-size: 2.25rem;
}

h2 {
    margin-top: 0;
}

h3 { 
    font-size: 1.25rem;
}

p {
    line-height: 23px;
}

.subheading {
    display: block;
    font-size: 20px;
    color: #d0aaff;
}

/* Links */

a {
    color: #ef5839;
    text-decoration: underline;
    text-decoration-style: dotted;
}

a:hover, a:active {
    color: #d4b44c;
}

/* Layout */

header, section, footer {
    padding: 45px 0;
}

header, section:nth-child(2) {
    background: #5f29a3;
}

.btn {
    padding: 10px 19px;
    border-radius: 4.6px;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
}

.btn-mid, .btn-light {
    color: #5f29a3;
}

.btn-dark {
    color: whitesmoke;
    background-color: #5f29a3;
}

.btn-mid {
    background-color: #f0e0ff;
}

.btn-light {
    background-color: whitesmoke;
}

.btn:hover, .btn:active{
    background-color: #f3e885;
    color: #2b283a;
}

section {
    padding: 45px 0;
}

.section-two {
    color: whitesmoke;
}

.section-two-image-container {
    display: flex;
    justify-content: space-between;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 800px;
}

.main-image {
    display: block;
    width: 100%;
    max-width: 640px;
    margin: 0 auto 32px;
}

.feature-image {
    width: 48.8%;
    border-radius: 4.6px;
}

footer {
    color:#5f29a3;
    text-align: center;
}
