body {
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: #2b283a;
    margin: 0;
}

/* Typography */

h1, h3 {
    margin: 0;
}

h1 {
    color: whitesmoke;
    font-size: 2.25rem;
}

h2 {
    margin-top: 0;
}

h3 {
    color: #d0aaff;
    font-size: 1.25rem;
}

p {
    line-height: 23px;
}

/* Links */

a {
    color: #ef5839;
    text-decoration: underline;
    text-decoration-style: dotted;
}

a:hover, a:active {
    color: #d4b44c;
}

/* Layout */

header, section, footer {
    padding: 45px 0;
}

header, section:nth-child(2) {
    background: #5f29a3;
}

.btn-dark, .btn-light, .btn-mid {
    padding: 10px 19px;
    border-radius: 4.6px;
    font-weight: 500;
    text-decoration: none;
}

.btn-mid, .btn-light {
    color: #5f29a3;
}

.btn-dark {
    color: whitesmoke;
    background-color: #5f29a3;
}

.btn-mid {
    background-color: #f0e0ff;
}

.btn-light {
    background-color: whitesmoke;
}

.btn-dark:hover, .btn-mid:hover, .btn-light:hover,
.btn-dark:active, .btn-mid:active, .btn-light:active{
    background-color: #f3e885;
    color: #2b283a;
}

section {
    padding: 45px 0;
}

section:nth-child(2) {
    color: whitesmoke;
}

section:nth-child(2) img {
    width: 300px;
    border-radius: 4.6px;
}

.img-container {
    display: flex;
    justify-content: space-between;
}

.container {
    width: 620px;
    margin: 0 auto;
}

.main-image {
    width: 100%;
}

footer {
    color:#5f29a3;
    text-align: center;
}
