body {
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: #2b283a;
    margin: 0;
}

/* Typography */

h1, h3 {
    margin: 0;
}

h1 {
    color: whitesmoke;
    font-size: 1.75rem;
}

h2 {
    margin-top: 0;
    font-size: 1.375rem;
}

h3 { 
    font-size: 1.25rem;
}

p {
    line-height: 1.5;
}

.subheading {
    display: block;
    font-size: 1rem;
    color: #d0aaff;
}

/* Links */

a {
    color: #ef5839;
    text-decoration: underline;
    text-decoration-style: dotted;
}

a:hover, a:active {
    color: #d4b44c;
}

/* Layout */

header, 
section, 
footer {
    padding: 1.25em 0;
}


header, section:nth-child(2) {
    background: #5f29a3;
}

.btn {
    font-size: 1.125rem;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
    display: block;
    padding: 0.5em 1em;
    margin-bottom: 1em;
    border-radius: 4.6px;
}

.btn-mid, .btn-light {
    color: #5f29a3;
}

.btn-dark {
    color: whitesmoke;
    background-color: #5f29a3;
}

.btn-mid {
    background-color: #f0e0ff;
}

.btn-light {
    background-color: whitesmoke;
}

.btn:hover, .btn:active{
    background-color: #f3e885;
    color: #2b283a;
}

section {
    padding: 45px 0;
}

.section-two {
    color: whitesmoke;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}

.main-image {
    width: 100%;
    display: block;
    max-width: 640px;
    margin: 0 auto 2em;
}

.feature-image {
    width: 100%;
    border-radius: 4.6px;
    margin-bottom: 1em;
}

footer {
    text-align: center;
    color: #5f29a3;
}

/* ----- NAVIGATION ----- */

nav a {
    color: #fff;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    
}

nav a {
    color: #fff;
    display: block;
    font-size: 1.125rem;
    padding: 0.85em 0;
}

li:not(:last-child) {
    border-bottom: 1px dotted #a190b6;
}

/* ----- MEDIA QUERIES ----- */

@media (min-width: 480px) {
    .section-two-image-container {
        display: flex;
        justify-content: space-between;
    }
    
    .feature-image {
        width: 48.8%;        
    }
}

@media (min-width: 768px) {
    header, 
    section, 
    footer {
        padding: 2.875em 0;
    }

    .btn {
        display: inline-block;
        margin-right: 0.5em;
    }

    h1 {
        font-size: 2.25rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    .subheading {
        font-size: 1.25rem;
    }

    p {
        font-size: 1.125rem;
    }
}