body {
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: #2b283a;
    margin: 0;
}

/* Typography */

h1 {
    color: whitesmoke;
    font-size: 2.25rem;
    margin: 0;
}

h2 {
    margin-top: 0;
}

h3 {
    color: #d0aaff;
    font-size: 1.25rem;
    margin: 0;
}

/* Links */

a {
    color: #ef5839;
    text-decoration: underline;
    text-decoration-style: dotted;
}

a:hover, a:active {
    color: #d4b44c;
}

/* Layout */

header {
    background: #5f29a3;
    padding: 45px 0;
}

section {
    padding: 45px 0;
}

section:nth-child(2) {
    background-color: #5f29a3;
    color: whitesmoke;
}

section:nth-child(2) img {
    width: 300px;
    border-radius: 4.6px;
}

.img-container {
    display: flex;
    justify-content: space-between;
}

.container {
    width: 620px;
    margin: 0 auto;
}

.main-image {
    width: 100%;
}

footer {
    color:#5f29a3;
    font-size: 1rem;
    text-align: center;
    padding: 45px 0;
}